<div class= "login-page">
  <div class= "container">
    <div class= "login-page_contents">
      <div class= "login-page_contents_title">
        <h1 class= "longin-page_contents_main">仲間を探そう！</h1>
        <h5 class= "longin-page_contents_sub">一緒に活動する仲間・趣味が合う仲間たちを探す旅に出よう！！</h5>
      </div>
      <%= link_to "新規登録(無料)", new_user_registration_path, class: "btn login-page_contents_btn" %>
    </div>
  </div>
</div>