.login-page{
  height: 100vh;
  background-color: #ebfdfa;
  &_contents{
    height:80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    &_title{
      margin-top:12vh;
    }
    .sign{
      display: flex;
    }
    &_btn{
      display:block;
      max-width: 400px;
      padding:20px;
      margin: 0 auto;
      border-radius: 30px;
      background-color: #116d5e;
      color: #fff;
    }
  }
}

